<!-- begin template/html/chat_message_form.html ; marker comment, please do not remove -->
<form id="post-form" class="message-form" method="post" action="/post" onsubmit="return false;">
	<textarea name="content" id="message" placeholder="Type your message..." required></textarea>
	<div class="optional-fields">
		<input type="text" name="author" placeholder="Your name">
		<input type="text" name="tags" placeholder="Tags (space separated)">
		<input type="hidden" name="channel" value="{current_channel}">
		<input type="hidden" name="reply_to" value="">
	</div>
	<button type="submit" class="send-button">Send</button>
</form>
<!-- end chat_message_form.html ; marker comment, please do not remove -->
