<!-- begin template/html/chat_message.html ; marker comment, please do not remove -->
<div class="message {reply_class}">
    {reply_to}
    <div class="message-header">
        <span class="author">{author}</span>
    </div>
    <div class="message-content">
        {content}
        {full_content}
        {expand_link}
    </div>
    <div class="hashtags">{hashtags}</div>
    <button class="reply-button" onclick="replyToMessage('{message_id}', '{author}')" title="Reply to this message">
        Reply
    </button>
</div>
<!-- end chat_message.html ; marker comment, please do not remove -->
