<!-- begin template/html/chat_message_form.html ; marker comment, please do not remove -->
<form id="post-form" method="POST" onsubmit="return postMessage(event)">
	<textarea name="content" required placeholder="Type your message..."></textarea>
	<input type="text" name="author" required placeholder="Your name">
	<input type="text" name="tags" placeholder="Tags (space separated)">
	<input type="hidden" name="reply_to">
	<button type="submit">Send</button>
</form>
<!-- end chat_message_form.html ; marker comment, please do not remove -->